.container {
  background-image: url("http://wallpapercave.com/wp/DuxWgNR.jpg");
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 400px;
  width: 700px;
  background-color: lightgray;
  border-radius: 5px;
}

.card h1 {
  display: flex;
  justify-content: center;
  font-family: "Shadows Into Light", cursive;
  color: orange;
}

.card h2 {
  display: flex;
  justify-content: center;
  font-family: "Shadows Into Light", cursive;
  color: orange;
  font-size: 50px;
  margin-top: -10px;
}

.inputs {
  margin: 0 25% 0 30%;
}

.letter-box {
  font-size: larger;
  color: blue;
  max-width: 250px;
  width: 100%;
  margin: 15px 0;
}

.button-wrapper {
  width: 300px;
  margin: auto;
  margin: 20px 0;
  position: relative;
  display: inline-block;
}

.button {
  border: 0;
  outline: 0;
  background-color: orange;
  color: #fff;
  height: 50px;
  width: 200px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 15px 0 darkorange, 0 10px 30px #808080;
  transition: 200ms;
  font-family: "Shadows Into Light", cursive;
  font-size: 24px;
  margin: 0 15px;
}
.button:active {
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  box-shadow: 0 5px 0 #663333, 0 5px 5px #000;
}
